.ProductDisplay{
       display: flex;
       margin: 0px 170px;
}
.ProductDisplay-left{
    display: flex;
    gap: 17px;
}
.ProductDisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ProductDisplay-img-list img{
    height: 123px;
}
.main-img{
    width: 450px;
    height: 540px;
}
.ProductDisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.ProductDisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 600;
}
.right-start{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 14px;
}
.right-prices{
    display: flex;
    margin: 15px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.right-price-new{
    color: #ff4141;
}
.right-size h1{
    margin-top: 15px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.right-sizes{
    display: flex;
    margin: 15px 0px;
    gap: 20px;
}
.right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.ProductDisplay-right button{
    padding: 10px 20px;
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}
.ProductDisplay-right button:hover{
    background: #cc2c2c;
}
.right-category{
    margin-top: 5px;
}
.right-category span{
    font-weight: 600;
}
@media(max-width:1280px){
    .ProductDisplay{
        margin: 0px 60px;
    }
    .ProductDisplay-left{
        gap: 10px;
    }
    .ProductDisplay-img-list{
        gap: 10px;
    }
    .ProductDisplay-img-list img{
        height: 120px;
    }
    .main-img{
        width: auto;
        height: 510px;
    }
    .ProductDisplay-right{
        margin: 0px 30px;
    }
    .ProductDisplay-right h1{
        font-size: 22px;
    }
    .right-start{
        gap: 3px;
        font-size: 13px;
    }
    .right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    .right-description{
        font-size: 13px;
    }
    .right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .right-sizes div{
        padding: 14px 20px;
    }
    .ProductDisplay-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .right-category{
        margin-top: 5px;
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .ProductDisplay{
        margin: 0px 30px;
    }
    .ProductDisplay-left{
        gap: 5px;
    }
    .ProductDisplay-img-list img{
        height: 80px;
    }
    .main-img{
        
        height: 350px;
    }
    .ProductDisplay-right h1{
        font-size: 18px;
    }
    .right-start img{
        width: 15px;
    }
    .right-description{
        font-size: 12px;
    }
    .right-sizes{
        margin-top: 10px 0px;
    }
    .right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .ProductDisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .right-category{
        font-size: 12px;
    }
}
@media(max-width:800px){
    .ProductDisplay{
        margin: 0px 10px;
    }
    .ProductDisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .ProductDisplay-img-list{
        flex-direction: row;
        gap: 6px;
    }
    .ProductDisplay-img-list img{
        height: 70px;
    }
    .main-img{
        height: 300px;
    }
    .ProductDisplay-right h1{
        font-size: 14px;
    }
    .right-start img{
        width: 13px;
    }
    .right-description{
        font-size: 10px;
    }
    .right-size h1{
        margin-top: 10px;
    }
    .right-sizes{
        margin-top: 10px;
        gap: 5px;
    }
    .right-sizes div{
        padding: 4px 11px;
    }
    .ProductDisplay-right button{
        width: 100px;
        font-size: 12px;
    }
    .right-category{
        font-size: 10px;
    }
}
@media(max-width:500px){
    .ProductDisplay{
        flex-direction: column;
    }
    .ProductDisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .ProductDisplay-img-list{
        flex-direction: column;
        gap: 8px;
    }
    .ProductDisplay-img-list img{
        height: 75px;
    }
    .main-img{
        height: 330px;
    }
    .ProductDisplay-right{
        margin: 5px;
    }
    .ProductDisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .right-start img{
        width: 15px;
    }
    .right-sizes{
        gap: 10px;
        margin: 20px 0px;
    }
    .right-sizesdiv{
        padding: 10px 16px;
        font-size: 14px;
    }
    .ProductDisplay-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;

    }
    .right-category{
        font-size: 16px;
    }
}